
@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<br /><br />
<div class="container">

    <h3>Password Recovery Status</h3>
    <hr />
    <p>An email has been sent to the account on file. Please check your inbox for instructions on how to reset your password.</p>

</div>

