
@{
    ViewBag.Title = "Account Recovery Complete";
}

<br /><br />
<div class="container">
    <h2>Password Recovery Status</h2>
    <hr />
    <p>Your password as been successfully updated. You can log in <a href="@Url.Action("Login", "Account")">here</a></p>
</div>

