
@{
    ViewBag.Title = "About The Site";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>About This Site</h2>
            <p>Thank you for visiting my website. I hope that you've found some entertaining and/or useful material here. This site is part portfolio/part blog, with the possibility of so much more 
            in the future.</p>
            <p>This site was created on top of the ASP.NET MVC Framework. The Content Management System used primarily for blog management and authoring was a custom creation by me. The website's
            domain name and SSL certificates are provided through namecheap.com, and the application and SQL Server database are hosted through Microsoft's Azure Cloud platform. The administrator and
            content management interface are built primarily through the use of Knockout JS and Web APIs as an SPA. The public website is built mainly on top of MVC's Razor Engine. Twitter and Instagram integrations were custom built using their respective APIs.
            Source Control provided by GitHub.</p>
            <p>I plan to continuously roll out updates to the website. I don't think I'll ever be finished developing it to its fullest, as there is always something else I'll want to add. I hope you stick around as
            I have big plans for the website, and it would be amazing to see how this project evolves.</p>
            <p>Thank you again for visiting, and do not hesitate to <a href="@Url.Action("Index", "Contact")">contact me</a> if you have any questions for me.</p>
        </div>
    </div>
</div>

