
@{
    ViewBag.Title = "Hearthstone Deck Builder";
}

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<link href="~/Areas/Projects/css/hearth.css" rel="stylesheet" />

<div class="container">
    <h3>Hearthstone Deck Builder</h3>
    <p class="byline">This application is best experienced on a desktop browser. It will work in mobile, but it wasn't originally designed with that in mind. Wait for version 2 :).</p>
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline" id="classSelector">
                <div class="form-group">
                    <select id="deckClass" onchange="updateClass()" style="margin-top:10px;">
                        <option value="">Select a class...</option>
                        <option value="druid">Druid</option>
                        <option value="hunter">Hunter</option>
                        <option value="mage">Mage</option>
                        <option value="paladin">Paladin</option>
                        <option value="priest">Priest</option>
                        <option value="rogue">Rogue</option>
                        <option value="shaman">Shaman</option>
                        <option value="warlock">Warlock</option>
                        <option value="warrior">Warrior</option>
                    </select>
                    <button onclick="exportDeck()" id="export" class="btn btn-primary">Export Deck</button>
                </div>
            </form>
            <form onsubmit="SubmitSearch();return false;">
                <p class="sub-header">Search Cards:</p>
                <div class="input-group">                   
                    <input class="form-control" type="text" id="search" />
                    <span class="input-group-btn">
                        <input type="submit" value="Search" class="btn btn-default" id="searchBtn">
                    </span>
                </div>
            </form>           
        </div>
    </div>
    <hr />
    <div class="row">       
        <div class="col-md-9">
            <div id="validation"></div>
            <span id="classFilter" class="label label-primary"></span>
            <div class="text-center">
                <ul class="pagination">                   
                </ul>
            </div>
            <div class="flexContainer container-fluid" id="resultSet">
            </div>
        </div>
        <div id="deck" class="col-md-3 well">
            <div class="container-fluid">                
                <br />
                <h4 class="text-center">My Deck <span id="deckCount">(0/30)</span></h4>
                <hr />
                <div id="cardsInDeck"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/plugins/notify/notify.min.js"></script>
<script src="~/Areas/Projects/js/hearth.js"></script>