

<div id="postGrid" class="gridStyle" data-bind="koGrid: PostGridOptions"></div>

<!--ko if: SelectedPost().length > 0-->
<div id="editPost" class="well" data-bind="with: SelectedPost()[0]">
    <div class="form-group">
        <button class="btn btn-primary" data-bind="click: function() { $parent.BackToPostGrid(); }"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
    </div>
    <div class="form-group">
        <label for="tags">Cover Image: </label>
        <select id="imgSelect" data-bind="optionsCaption: 'Select an item...', options: $parent.Images, optionsText: 'Name', value: PostImage"></select>
        <!--ko if: PostImage() -->
        <a data-bind="attr: { href: PostImage().Path() }" target='_blank'><span class='glyphicon glyphicon-picture'></span></a>
        <!--/ko-->
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input data-bind="textInput: Title" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="teaser">Teaser</label>
        <input data-bind="textInput: Teaser" class="form-control" id="teaser" placeholder="Teaser">
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea data-bind="CKEDITOR: PostContent" class="form-control" id="content" placeholder="Content"></textarea>
    </div>
    <div class="form-group">
        <label for="tags">Tags: </label>
        <select multiple="multiple" id="tagSelect" data-bind="options: $parent.Tags, optionsText: 'Name', optionsValue: 'Id', selectedOptions: TagIds, multiselect: true, maxHeight: 200"></select>
    </div>
    <div class="form-group">
        <label for="featured">Is Featured (on homepage): </label>
        <!--ko if: IsFeatured() != true -->
        <button data-bind="click: function() { FeaturePost() }" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-remove-circle"></span> Post Not Featured</button>
        <!--/ko-->
        <!--ko if: IsFeatured() == true -->
        <button data-bind="click: function() { UnfeaturePost() }" style="background-color: darkgreen; border-color:darkgreen;" type="button" class="btn btn-info"><span class="glyphicon glyphicon-ok-circle"></span> Post Featured</button>
        <!--/ko-->  
    </div>
    <div class="form-group">
        <label for="featured">Is Active (shows up on blog): </label>
        <!--ko if: IsActive() != true -->
        <button data-bind="click: function() { EnablePost() }" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-remove-circle"></span> Post Not Active</button>
        <!--/ko-->
        <!--ko if: IsActive() == true -->
        <button data-bind="click: function() { DisablePost() }" style="background-color: darkgreen; border-color:darkgreen;" type="button" class="btn btn-info"><span class="glyphicon glyphicon-ok-circle"></span> Post Active</button>
        <!--/ko-->
    </div>
    <div class="form-group">
        <label for="priority">Priority (the higher the number, the higher it appears on home page)</label>
        <input data-bind="textInput: Priority" class="form-control" id="priority" placeholder="Priority">
    </div>
    <div class="form-group">
        <button data-bind="click: function() { SavePost(true) }" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Save Post</button>
        <button data-bind="click: function() { DeletePost() }" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete Post</button>
    </div>
</div>
<!--/ko-->