

<div class="gridStyle" data-bind="koGrid: TagGridOptions"></div>
<div class="well" data-bind="with: SelectedTag()[0]">
    <div class="form-group">
        <label for="title">Name</label>
        <input data-bind="textInput: Name" class="form-control" id="title" placeholder="Name">
    </div>
    <div class="form-group">
        <button data-bind="click: function() { SaveTag(true) }" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Save Tag</button>
    </div>
</div>