
@{
    ViewBag.Title = "Error";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Well, something unexpected went wrong. Sorry about that. Feel free to find your way back home <a href="@Url.Action("Index", "Home")">here</a>.</p>            
        </div>
    </div>
</div>

