/*
 * Globals
 * Main Color: #19153b
 * Accent1: #162c69
 * Accent2: #cdddeb
 * Accent3: #F3F5F9
 */

body { font-family: 'Kozuka Gothic Pro', 'Segoe WP', Times, serif; color: #555; font-size: 14pt; margin: 0; padding-bottom: 17rem; min-height: 100%; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 { margin-top: 0; font-family: "Kozuka Gothic Pro", 'Segoe WP', Arial, sans-serif; font-weight: normal; color: #333; }

hr { color: #19153b; background-color: #19153b; border-color: #333; }
.light-hr { border-color: #555; }

@media (min-width:1200px) {
    .container { width: 1000px; }
    .container-logo { width: 1100px; }
}

@media (min-width:1600px) {
    .container { width: 1400px; }
    .container-logo { width: 1500px; }
}

@media (min-width:1920px) {
    .container { width: 1500px; }
    .container-logo { width: 1600px; }
}

.panel-heading { background-color: #F3F5F9 !important; }

/*
    Top Banner
*/

.top-banner { background-color: #162c69; min-height: 100px; }
.logo { max-width: 300px; margin-left: 20px; margin-top: 15px; }
.right-arrow { width: 70px; margin-top: 150px; display: none; cursor: pointer; color: #19153b; }
    .right-arrow:hover { color: #162c69; }
    .right-arrow span { font-size: 60pt; margin-right: 15px; vertical-align: middle; }

.left-arrow { width: 70px; margin-top: 150px; display: none; cursor: pointer; color: #19153b; }
    .left-arrow:hover { color: #162c69; }
.left-arrow { font-size: 60pt; margin-right: 15px; }

@media (min-width:1920px) {
    .right-arrow { display: inline-block; }
    .left-arrow { display: inline-block; }
}


.shadow { border-radius: 50%; display: inline-block; position: relative; }
    .shadow img { border-radius: 50%; display: block; border: 1px solid #eee; }
    .shadow:after { content: ""; display: block; width: 100%; height: 100%; border-radius: 50%; position: absolute; top: 0; left: 0; box-shadow: inset 10px 24px 40px 0px #eee, inset -10px -24px 40px 0px #eee, inset 20px -10px 40px 0px white, inset -20px 10px 40px 0px #eee; }
/*
 * Masthead for nav
 */

.blog-masthead { background-color: #19153b; -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1); box-shadow: inset 0 -2px 5px rgba(0,0,0,.1); font-size: 13pt; margin-bottom: 10px; }

/* Nav links */
.blog-nav-item { position: relative; display: inline-block; padding: 10px; font-weight: 500; color: #cdddeb; }
    .blog-nav-item:hover,
    .blog-nav-item:focus { color: #cdddeb; text-decoration: none; }

/* Active state gets a caret at the bottom */
.blog-nav .active { color: #fff; }
    .blog-nav .active:after { position: absolute; bottom: 0; left: 50%; width: 0; height: 0; margin-left: -8px; vertical-align: middle; content: " "; border-right: 8px solid transparent; border-bottom: 8px solid; border-left: 8px solid transparent; }


.container-jumbo { width: 100%; min-height: 400px; }
#homejumbo { min-height: 400px; }
.full-width { padding: 0px; }
.social:hover { cursor: pointer; }
.home-highlight { max-width: 45%; max-height: 200px; }

/*
 * Main column and sidebar layout
 */
#main { padding-top: 10px; }

.videoWrapper { position: relative; padding-bottom: 56.25%; /* 16:9 */ padding-top: 25px; height: 0; }
    .videoWrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Owl Carousel */
.owl-carousel { }
    .owl-carousel .owl-nav { padding-top: .4em; font-family: sans-serif; font-size: .8em; }
        .owl-carousel .owl-nav > div { padding: .4em 1.4em; border: 1px solid #333; background: #000; color: white; border-radius: .4em; background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2)); box-shadow: 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.5); }
            .owl-carousel .owl-nav > div:hover { background-color: #333; }
        .owl-carousel .owl-nav .owl-prev { float: left; }
        .owl-carousel .owl-nav .owl-next { float: right; }


.carousel-item { text-align: left; }
    .carousel-item .side { color: black; margin-left: 0; min-width: 100%; min-height: 100%; text-align: left; }
    .carousel-item .carousel-img { padding-right: 15px; }
.carousel-img { float: left; }
    .carousel-img img { float: left; max-width: 400px; }

.blog-main { font-size: 18px; line-height: 1.5; }


#me { display: none; }
    #me img { max-height: 40%; }
.social-media { margin-bottom: 40px; margin-top: 40px; text-align: center; }
.byline { color: #a49191; font-size: 10pt; }
.imgLink { margin-top: 10px; font-size: 23pt; }

th { padding: 10px; background-color: #19153b; color: #cdddeb; }
td { padding: 20px; }

.imgContainer { max-width: 20%; }
.previewImg { max-height: 100%; max-width: 100%; }

#editPost { display: none; }
#imgSelect { border-radius: 4px; font-size: 10pt; min-height: 30px; min-width: 150px; padding-left: 5px; }


.rss { min-height: 400px; }
.rss-head { color: #555; font-size: 20px; font-weight: bold; }
.rss-container { display: none; }
.rss-link-text { }
.rss-description { font-size: 13px; }

@media (min-width:990px) {
    #me { display: inline-block; }
        #me img { max-width: 400px; }
    .social-media { margin-bottom: 0px; margin-top: 0px; text-align: left; }
}

.owl-theme .owl-controls .owl-page { display: inline-block; }
    .owl-theme .owl-controls .owl-page span { background: none repeat scroll 0 0 #869791; border-radius: 20px; display: block; height: 12px; margin: 5px 7px; opacity: 0.5; width: 12px; }

.tag-data { font-size: 13px; padding: 5px; background-color: #19153b; color: #cdddeb; }
/* Pagination */
.pager { margin-bottom: 60px; text-align: left; }
    .pager > li > a { width: 140px; padding: 10px 20px; text-align: center; border-radius: 30px; }

.headlines { margin-top: 100px; }
.free-wall { padding: 10px; }
.bold { font-weight: bold; }
.readmore { font-size: 14px; }
.well { background-color: #F3F5F9; }
.side-panel { margin-bottom: 30px; }
.fun-fact { color: #19153b; font-weight: 200; }
.blog-header { margin-bottom: 0px; }
.carousel-home { min-height: 400px; }
.blog-content p { line-height: 28px;}

/* Registration */
.register input { max-width: 500px; }

html { position: relative; min-height: 100%; }
body { /* Margin bottom by footer height */ margin-bottom: 60px; min-height: 100%; }
.footer { position: absolute; bottom: 0; width: 100%; /* Set the fixed height of the footer here */ height: 60px; background-color: #19153b; color: #cdddeb; }
.copyright { margin-top: 15px; }

/* Icon Pulse */
@-webkit-keyframes hvr-icon-pulse {
    25% { -webkit-transform: scale(1.3); transform: scale(1.3); }

    75% { -webkit-transform: scale(0.8); transform: scale(0.8); }
}

@keyframes hvr-icon-pulse {
    25% { -webkit-transform: scale(1.3); transform: scale(1.3); }

    75% { -webkit-transform: scale(0.8); transform: scale(0.8); }
}

a.label:hover { background-color: #19153b !important; }

.hvr-icon-pulse { display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; position: relative; padding-right: 2.2em; }
    .hvr-icon-pulse:before { content: "\f02b"; position: absolute; right: 1em; padding: 0 1px; font-family: FontAwesome; -webkit-transform: translateZ(0); transform: translateZ(0); -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
    .hvr-icon-pulse:hover:before, .hvr-icon-pulse:focus:before, .hvr-icon-pulse:active:before { -webkit-animation-name: hvr-icon-pulse; animation-name: hvr-icon-pulse; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

.hvr-icon-pulse-cal { display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; position: relative; padding-right: 2.2em; }
    .hvr-icon-pulse-cal:before { content: "\f073"; position: absolute; right: 1em; padding: 0 1px; font-family: FontAwesome; -webkit-transform: translateZ(0); transform: translateZ(0); -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
    .hvr-icon-pulse-cal:hover:before, .hvr-icon-pulse:focus:before, .hvr-icon-pulse:active:before { -webkit-animation-name: hvr-icon-pulse; animation-name: hvr-icon-pulse; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

/* Shrink */
.hvr-shrink { display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0); transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: transform; transition-property: transform; }
    .hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active { -webkit-transform: scale(0.9); transform: scale(0.9); }
