
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <script src="~/js/jquery-1.9.1.min.js"></script>
    <script src="~/js/plugins/jqueryui/jquery-ui.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/plugins/owl/owl.carousel.min.js"></script>
    <script src="~/js/app.js"></script>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/js/plugins/owl/assets/owl.carousel.css" rel="stylesheet" />
    <link href="~/js/plugins/owl/assets/owl.theme.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />

    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png">
    <link rel="shortcut icon" href="~/images/favicon.ico" type='image/x-icon' />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>
    <div class="top-banner">

    </div>
    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item active" href="#">Home</a>
                <a class="blog-nav-item" href="#">Blog</a>
                <a class="blog-nav-item" href="#">Portfolio</a>
            </nav>
        </div>
    </div>   

    <div id="main" class="container-fluid">
        <div class="row">
                @RenderBody()
        </div>
    </div>

    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p>&copy; @DateTime.Now.Year thesqualls.com</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
