@model IEnumerable<PasqualeSite.Data.Entities.Post>


@{
    ViewBag.Title = "Welcome to thesqualls.com! Tech and Video Game News for Everyone!";
}

@if (Model.Count() > 0)
{
    Html.RenderPartial("Partials/_BlogCarousel");
}

@section meta {
    <meta property="og:title" content="thesqualls Website and Blog" />
    <meta property="og:type" content="blog" />
    <meta property="og:image" content="http://images.thesqualls.com/images/logo1" />
    <meta property="og:description" content="The latest and greatest blog posts related to tech and video games!" />

    <meta property="twitter:title" content="thesqualls Website and Blog" />
    <meta name="twitter:description" content="The latest and greatest blog posts related to tech and video games!" />
    <meta name="twitter:image" content="http://images.thesqualls.com/images/logo1" />
}


<script>
    $(document).ready(function () {
        $('.pictureCarousel').owlCarousel({
            items: 1,
            loop: true,
            margin: 10,
            dots: true,
            autoplay: true
        })

        $('.home_link').addClass('active');
    })
    
</script>


<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-md-3">
                <div id="me" class="pictureCarousel">
                    <div class="item">
                        <img class="img-responsive" src="~/img/GoJags.jpg" />
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="~/img/melondon.jpg" />
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="~/img/meandfriends.jpg" />
                    </div>
                 
                </div>                
            </div>
            <div class="col-md-5">                             
                <h3 class="bio">Hello.</h3>
                <p class="bio">
                    Hello. I'm Squalls. This website is intended to be a way for you to get to know me better. It's also an outlet for me in which I
                    talk about all the things I love, whether it be application development, movies, music, video games, sports, travel, etc. I hope that one day this place can be much more
                    than that, but until then I will use this website to showcase my skills and rant and rave about things that I find interesting. I hope that you find something interesting here as well.
                </p>
                <br /><br />
                <div class="row social-media">
                    <h4>Check out some of my other pages: </h4>
                    <a target="_blank" href="https://twitter.com/squale71"><img title="twitter" alt="twitter" class="hvr-shrink social" src="~/img/1462426362_twitter_2.png" /></a>
                    <a target="_blank" href="https://github.com/squale71"><img title="github" alt="github" class="hvr-shrink social" src="~/img/1462426377_github.png" /></a>
                </div>       
            </div>
            <div class="col-md-4">
                <h3>Things I like: </h3>
                <ul>
                    <li>Computers</li>
                    <li>Video Games</li>
                    <li>App Development</li>
                    <li>Jaguars Football</li>
                    <li>Friends and Family</li>
                    <li>Places to go</li>
                </ul>
            </div>
        </div>
    </div>
</div>
